
.DS_Store
.tmp-history
.vscode/
dns-scout_6.0.orig.tar.gz
.git


# ignore binaries

debian/binaries
*.tar.gz
./bin/**
dns-scout-**/**/dns-scout

# ignore build artifacts
dns-scout-**-deb/**
dns-scout-linux**/**
dns-scout-macos**/**

# ignore generate files (we commit the .tpl)
dns-scout.metainfo.xml
debian/files
debian/changelog
