
[Desktop Entry]
Type=Application
Name=DNS Scout
Exec=/usr/local/bin/dns-scout
Icon=utilities-terminal
Comment=DNS troubleshooting tool that gets your email to the inbox.
Terminal=true
Categories=Network;Security;

[Desktop Entry]
Type=Application
Name=Setup API Token for DNS Scout
Exec=/usr/share/doc/dns-scout/setup-api-token.sh
Icon=utilities-terminal
Comment=Setup your API token for DNS Scout.
Terminal=true
Categories=Network;Security;
