Source: dns-scout
Maintainer: Carey James Balboa <carey.balboa@machelpnashville.com>
Uploaders: Carey James Balboa <carey.balboa@machelpnashville.com>
Section: net
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13), dh-golang, golang-any
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/dns-scout
Vcs-Git: https://salsa.debian.org/go-team/packages/dns-scout.git
Homepage: https://github.com/careyjames/dns-scout/
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/careyjames/dns-scout

Package: dns-scout
Architecture: amd64
Depends: libc6 ${misc:Depends}
Description: DNS Scout for Linux/MacOS
 DNS Scout pulls and displays DNS records in a color-coded console output.
 It stands out by filtering out non-essential information, presenting users
 with a cleaner, more focused view of the DNS data. The tool is optimized
 for clarity and relevance, making it ideal for easy DNS reconnaissance
 and troubleshooting.
